In [10]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
# Load data

# bronx_data = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_bronx.xlsx",skiprows=6)
bronx2020 = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_bronx.xlsx",skiprows=6,thousands=',')
brooklyn2020 = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_brooklyn.xlsx",skiprows=6,thousands=',')
manhattan2020 = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_manhattan.xlsx",skiprows=6,thousands=',')
queens2020 = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_queens.xlsx",skiprows=6,thousands=',')
statenisland2020 = pd.read_excel(r"NYC_Housing_Dataset_2020/2020_staten_island.xlsx",skiprows=6,thousands=',')

# Load data for NYC price prediction 2021
bronx2021 = pd.read_excel("NYC_Housing_Dataset_2021/2021_bronx.xlsx",skiprows=6)
brooklyn2021 = pd.read_excel("NYC_Housing_Dataset_2021/2021_brooklyn.xlsx",skiprows=6)
manhattan2021 = pd.read_excel("NYC_Housing_Dataset_2021/2021_manhattan.xlsx",skiprows=6)
queens2021 = pd.read_excel("NYC_Housing_Dataset_2021/2021_queens.xlsx",skiprows=6)
statensisland2021 = pd.read_excel("NYC_Housing_Dataset_2021/2021_staten_island.xlsx",skiprows=6)

In [12]:
NYC = pd.concat([manhattan2020, manhattan2021,bronx2020, bronx2021,brooklyn2020,brooklyn2021, 
                 queens2020,queens2021,statenisland2020,statensisland2021], ignore_index=True)
NYC.columns = [c.replace('\n', '') for c in NYC.columns]
NYC.head(10)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIALUNITS,COMMERCIALUNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASSAT TIME OF SALE,SALE PRICE,SALE DATE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,1.0,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,377.0,72.0,NaN,B9,231 EAST 7TH,NaN,...,2.0,0.0,2.0,1718.0,5154.0,1901.0,1.0,B9,0.0,2020-10-02
2,1.0,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377.0,66.0,NaN,C0,243 EAST 7TH STREET,NaN,...,3.0,0.0,3.0,2381.0,3084.0,1899.0,1.0,C0,0.0,2020-10-31
3,1.0,ALPHABET CITY,03 THREE FAMILY DWELLINGS,1,377.0,66.0,NaN,C0,243 EAST 7TH STREET,NaN,...,3.0,0.0,3.0,2381.0,3084.0,1899.0,1.0,C0,4350000.0,2020-07-16
4,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,372.0,10.0,NaN,C7,274 EAST 3RD,NaN,...,9.0,1.0,10.0,2021.0,6445.0,1900.0,2.0,C7,0.0,2020-12-27
5,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,374.0,1.0,NaN,C7,301-303 EAST 4TH STREET,NaN,...,8.0,2.0,10.0,1501.0,6929.0,1900.0,2.0,C7,3672530.0,2020-11-24
6,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376.0,28.0,NaN,C4,272 EAST 7TH STREET,NaN,...,24.0,0.0,24.0,2764.0,13206.0,1900.0,2.0,C4,1.0,2020-06-26
7,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376.0,31.0,NaN,C4,"278 EAST 7TH STREET, 1A",NaN,...,19.0,0.0,19.0,2772.0,13248.0,1920.0,2.0,C4,2500.0,2020-02-11
8,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376.0,31.0,NaN,C4,"278 EAST 7TH STREET, 1B/2B",NaN,...,19.0,0.0,19.0,2772.0,13248.0,1920.0,2.0,C4,290000.0,2020-02-07
9,1.0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376.0,31.0,NaN,C4,"278 EAST 7TH STREET, 1C/1D",NaN,...,19.0,0.0,19.0,2772.0,13248.0,1920.0,2.0,C4,2500.0,2020-02-11

In [13]:
print(bronx2020)

      BOROUGH NEIGHBORHOOD         BUILDING CLASS CATEGORY  \
0         NaN          NaN                             NaN
1         2.0     BATHGATE         01 ONE FAMILY DWELLINGS
2         2.0     BATHGATE         01 ONE FAMILY DWELLINGS
3         2.0     BATHGATE         01 ONE FAMILY DWELLINGS
4         2.0     BATHGATE         01 ONE FAMILY DWELLINGS
...       ...          ...                             ...
6641      2.0     WOODLAWN  10 COOPS - ELEVATOR APARTMENTS
6642      2.0     WOODLAWN  10 COOPS - ELEVATOR APARTMENTS
6643      2.0     WOODLAWN  10 COOPS - ELEVATOR APARTMENTS
6644      2.0     WOODLAWN  10 COOPS - ELEVATOR APARTMENTS
6645      2.0     WOODLAWN  10 COOPS - ELEVATOR APARTMENTS

     TAX CLASS AT PRESENT   BLOCK   LOT  EASE-MENT BUILDING CLASS AT PRESENT  \
0                     NaN     NaN   NaN        NaN                       NaN
1                       1  3029.0  36.0        NaN                        A5
2                       1  3030.0  65.0        NaN                        A1
3                       1  3030.0  67.0        NaN                        A1
4                       1  3030.0  67.0        NaN                        A1
...                   ...     ...   ...        ...                       ...
6641                    2  3398.0  87.0        NaN                        D4
6642                    2  3398.0  97.0        NaN                        D4
6643                    2  3398.0  97.0        NaN                        D4
6644                    2  3398.0  97.0        NaN                        D4
6645                    2  3398.0  97.0        NaN                        D4

                      ADDRESS APARTMENT NUMBER  ...  RESIDENTIAL\nUNITS  \
0                         NaN              NaN  ...                 NaN
1         418 EAST 180 STREET              NaN  ...                 1.0
2            4455 PARK AVENUE              NaN  ...                 1.0
3            4451 PARK AVENUE              NaN  ...                 1.0
4            4451 PARK AVENUE              NaN  ...                 1.0
...                       ...              ...  ...                 ...
6641  4315 WEBSTER AVENUE, 4L              NaN  ...                 NaN
6642  4295 WEBSTER AVENUE, 4F              NaN  ...                 NaN
6643  4295 WEBSTER AVENUE, 5H              NaN  ...                 NaN
6644  4295 WEBSTER AVENUE, 6L              NaN  ...                 NaN
6645  4295 WEBSTER AVENUE, L3              NaN  ...                 NaN

      COMMERCIAL\nUNITS  TOTAL \nUNITS  LAND \nSQUARE FEET  \
0                   NaN            NaN                 NaN
1                   0.0            1.0              1568.0
2                   0.0            1.0              1622.0
3                   0.0            1.0              1646.0
4                   0.0            1.0              1646.0
...                 ...            ...                 ...
6641                NaN            NaN                 NaN
6642                NaN            NaN                 NaN
6643                NaN            NaN                 NaN
6644                NaN            NaN                 NaN
6645                NaN            NaN                 NaN

      GROSS \nSQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  \
0                     NaN         NaN                        NaN
1                  1526.0      1899.0                        1.0
2                  1587.0      1899.0                        1.0
3                  1495.0      1899.0                        1.0
4                  1495.0      1899.0                        1.0
...                   ...         ...                        ...
6641                  NaN      1958.0                        2.0
6642                  NaN      1957.0                        2.0
6643                  NaN      1957.0                        2.0
6644                  NaN      1957.0                        2.0
6645                  NaN      1957.0                        2.0

      BUILDING CLASS\nAT TIME OF SALE SALE PRICE  SALE DATE
0                                 NaN        NaN        NaT
1                                  A5        0.0 2020-07-09
2                                  A1   458000.0 2020-01-31
3                                  A1   275000.0 2020-03-16
4                                  A1   475000.0 2020-07-23
...                               ...        ...        ...
6641                               D4   181750.0 2020-03-05
6642                               D4   230000.0 2020-02-24
6643                               D4   305803.0 2020-12-18
6644                               D4   178000.0 2020-11-05
6645                               D4   129000.0 2020-08-31

[6646 rows x 21 columns]

In [ ]:
## Data Cleaning and Data Preprocessing

In [ ]:
## Duplicates

In [15]:
#Delete the duplicates and check that it worked
NYC = NYC.drop_duplicates(NYC.columns, keep='last')
sum(NYC.duplicated(NYC.columns))

0